# Default virtual environment directory name for Python.
.venv

# Cache directory name for Python.
**/__pycache__

# Default cache directory name for Ruff.
# https://docs.astral.sh/ruff/settings/#cache-dir
**/.ruff_cache

# Default sqlite database file name for Django.
db.sqlite3

# Default staticfile directory name for Django.
# https://docs.djangoproject.com/en/5.0/ref/contrib/staticfiles/
**/staticfiles

# Test file name for jupyer nootbook.
debug.ipynb

# Generated strawberry graphql export schema file name.
schema.graphql

# Default cache directory name for pytest.
# https://docs.pytest.org/en/7.1.x/reference/customize.html#initialization-determining-rootdir-and-configfile
**/.pytest_cache
